{% extends "base.html" %}

{% block content %}
  <form method="POST" action="{{ url_for('main.register') }}">
    {{ form.hidden_tag() }}

    <label for="username">{{ form.username.label }}</label>
    {{ form.username(id="username", placeholder="Enter username") }}

    {% for err in form.username.errors %}
      <p style="color:red">{{ err }}</p>
    {% endfor %}

    {{ form.submit() }}
  </form>

{% if not form.errors and form.is_submitted() %}
  <p>Hello {{ form.username.data }}</p>
{% endif %}
{% endblock %}
